
$sizeTopMenu: 15%;
$sizeSideBar: 102.23px;

$backgroundColorSideBar: #1B1C1D;


$greyTopBarBackgroundColor:#3F3F3F;
$inactiveTabBackgroundColor:#24777A;
$activeTabBackgroundColor:#1BB2BD;

.ContainerObjectSelector {

  .ui.items > .item > .content > .header {
    color: white;
  }

  /*.ui.items > .item:first-child {
    margin-top: 8px;
    margin-right: 8px;
    margin-bottom: 8px;
    margin-left: 0px;
    padding-right: 20px;
  }*/

  .ui.items {
    margin-top: 8px;
    margin-right: 8px;
    margin-bottom: 8px;
    margin-left: 0px;
    padding-right: 20px;
  }

  .ui.items > .item {
    padding-top: 10px;
    border-radius: 2px;
    //background-color: $inactiveTabBackgroundColor;
  }
  .ui.attached.bottom.button {
    color: white;
    background-color: $inactiveTabBackgroundColor;
  }



.containerObject {

  //position:absolute;
  //top:$sizeTopMenu;
  //left:$sizeSideBar;
  width: 250px;
  height: 100%;

  overflow-style: auto;

  ::-webkit-scrollbar {
    display: none;
  }
}



  position: fixed;
  top: $sizeTopMenu;
  left: $sizeSideBar;
  width:300px;
  height:100%;
  background: $backgroundColorSideBar;

  //overflow: scroll;
  overflow-x: hidden;

  ::-webkit-scrollbar {
    width: 0px;
    background: transparent;
    display:none;
  }

  ::-webkit-scrollbar-thumb {
    background: #FF0000;
  }

  .ui.tabular.menu .active.item {

   background: green;
    width: 50%;
  }
  .ui {

    .green {

    }
    &.tabular {

      width: 100%;
      &.menu {

        width: 100%;

        .active {

          .item{
            background: magenta;
          }
        }

        &:active {

          .item{

            background: aqua;
          }
        }
        //.ui.tabular.menu .active.item

        //background: black;
      }
    }
  }
}

