
$sizeTopMenu: 15%;
$sizeSideBar: 102.23px;

$backgroundColorSideBar: #1B1C1D;


$greyTopBarBackgroundColor:#3F3F3F;
$inactiveTabBackgroundColor:#24777A;
$activeTabBackgroundColor:#1BB2BD;


.ContainerObjectSelector {

  position:absolute;
  top: $sizeTopMenu;
  left: $sizeSideBar;
  width: 250px;
  //height: 100%;

  .ui.items :hover {

  }

  .ui.items > .item > .content > .header:not(.ui) {

    font-size: small;
    color: teal;
  }
  .container{

  }

  .ui {

    &.attached {

      &.tabular{

        &.menu{

          width: 100%;
        }
      }
    }
  }

}

/*.test {
  //position: fixed;
  position: absolute;
  top: $sizeTopMenu;
  left: $sizeSideBar;
  width:300px;
  height:100%;
  background: $backgroundColorSideBar;
  overflow-y: scroll;

  ::-webkit-scrollbar {
    width: 0px;
    background: transparent;
  }

  ::-webkit-scrollbar-thumb {
    background: #FF0000;
  }
}
.ContainerObjectSelector {

  //overflow:auto;
  overflow: scroll;
  overflow-x: hidden;



  .ui.items > .item > .content > .header {
    color: white;
  }

  .ui.items {
    margin-top: 8px;
    margin-right: 8px;
    margin-bottom: 8px;
    margin-left: 0px;
    padding-right: 20px;
  }

  .ui.items > .item {
    padding-top: 10px;
    border-radius: 2px;
  }
  .ui.attached.bottom.button {
    color: white;
    background-color: $inactiveTabBackgroundColor;
  }
}*/
