$greyTopBarBackgroundColor:#3F3F3F;
$inactiveTabBackgroundColor:#24777A;
$activeTabBackgroundColor:#1BB2BD;
$tabHeight:30px;

.TopBar {
  background-color:$greyTopBarBackgroundColor;
}

#tab-bar {
  padding-left:0px;
  padding-top:0px;
  padding-bottom:0px;
  border:0 !important;
}

.scene-tabs .tab {
  margin-top:20px;
  margin-left:1px;
  margin-right:1px;
  height:$tabHeight;
  background-color:$inactiveTabBackgroundColor !important;
  border-radius:7px 7px 0 0 !important;
  padding-right:5px !important;
}

.ui.tabular.menu .active.item {
  border-radius:7px 7px 0 0 !important;
}

.ui.grid {
  margin:0 !important;
  border-bottom:1px solid #D4D4D5;
}

.ui.tabular.menu {
  border:0px !important;
}

.ui.attached.segment {
  border-top:0px !important;
}

.add-tab {
  margin-top:20px;
  margin-left:1px;
  margin-right:1px;
  height:$tabHeight;
  background-color:$inactiveTabBackgroundColor !important;
  border-radius:7px 7px 0 0 !important;
  padding: 0 5px !important;
}

.add-tab:active {
  background-color:$activeTabBackgroundColor !important;
}

.add-tab span {
  font-size:24px;
  padding: 0px 5px;
}

.scene-tabs .active {
  background-color:$activeTabBackgroundColor !important;
}

.close-cross {
  margin-left:15px;
  margin-bottom:15px;
  font-size:16px;
  color:$greyTopBarBackgroundColor;
}

.close-cross:hover {
  color:black;
}

#logo {
  text-align:center;
  padding-left:0px;
  padding-top:0px;
  padding-bottom:0px;
}

#logo img {
  height:30px;
  vertical-align:middle;
}

.helper {
  display: inline-block;
  height: 100%;
  vertical-align: middle;
}

.project-tab {
  margin-left:1px;
  margin-right:1px;
  background-color:$inactiveTabBackgroundColor !important;
  padding-right:20px !important;
  padding-top:0px !important;
  padding-bottom:0px !important;
  height:initial !important;
  margin-top:0px !important;
  border-radius:0px !important;
}

.project-tab:active {
  background-color:$activeTabBackgroundColor !important;
}

.inside {
  text-align: center;
}

.inside img {
  height:25px;
  width:25px;
}

.inside span {
  display: block;
  font-size:16px;
}