<div class="ui dimmer modals page transition visible active">
    <div class="ui modal transition visible active login animated bounceInDown" style="top: 30% !important; animation-duration: 1s;" >
        <div class="header">
            Ouvrir un projet
        </div>
        <div class="image content">
            <div class="ui medium image">
                <img src="assets/beavr_logo.png" style="width: 200px" alt="Logo BeaVR" />
            </div>
            <div class="description">
                <div class="ui header">Connectez-vous pour récupérer un projet.</div>
                <form class="ui form fluid warning" name="connectionForm">
                    <div class="required field">
                        <div class="ui left icon input">
                            <i class="mail icon"></i>
                            <input type="email" name="email" placeholder="Adresse e-mail" required>
                        </div>
                    </div>
                    <div class="required field">
                        <div class="ui left icon input">
                            <i class="lock icon"></i>
                            <input type="password" name="password" placeholder="Mot de passe" required>
                        </div>
                    </div>
                    <div class="field">
                        <div class="ui toggle checkbox">
                            <input type="checkbox" name="checkbox" tabindex="0">
                            <label>Se souvenir de moi</label>
                        </div>
                    </div>
                    <div class="ui buttons">
                        <div class="ui button register_button">S'inscrire</div>
                        <div class="or" data-text="ou"></div>
                        <button class="ui positive button">Se connecter</button>
                    </div>
                </form>
            </div>
        </div>
        <div class="actions">
            <div class="ui blue right labeled icon button">
                Créer un projet sans se connecter
                <i class="plus icon"></i>
            </div>
        </div>
    </div>
</div>

