<div class="containerObject">
    <% _.each(object, function(objet, i){

    console.log(objet);
    %>

    <div class="row">
        <div class="column">
            <% if(objet.isMadeByUser == true){ %>
                <button class="ui red button"><%- objet.name %></button>
            <% } else { %>
                <button class="ui green button"><%- objet.name %></button>
            <% } %>
        </div>
    </div>
    <% }); %>
    <div class="row">
        <button class="ui blue button">Importer votre objet</button>
    </div>
</div>


<!--<div class="ui tabular menu">
    <a class="item active">
        Tous
    </a>
    <a class="item">
        Utilisés
    </a>
</div>-->

<div class="ui bottom attached tab segment" data-tab="first">
    First page
</div>
<div class="ui bottom attached tab segment" data-tab="second">
    Second second page
</div>

<!--<div class="ui bottom button">Ajouter un objet</div>-->
<!--<div class="ui bottom attached tab segment" data-tab="first">
    First
</div>
<div class="ui bottom attached tab segment" data-tab="second">
    Second
</div>
<div class="ui bottom attached tab segment active" data-tab="third">
    Third
</div>-->
