<h2>Hello this is the from my view !</h2>

<div class="LeftBar">
    <div class="ui grid">
        <div class="four wide column">
            <div class="ui vertical fluid tabular menu">
                <a class="item">
                    Bio
                </a>
                <a class="item active">
                    Pics
                </a>
                <a class="item">
                    Companies
                </a>
                <a class="item">
                    Links
                </a>
            </div>
        </div>
        <div class="twelve wide stretched column">
            <div class="ui segment">
                This is an stretched grid column. This segment will always match the tab height
            </div>
        </div>
    </div>
</div>