<div class="TopBar">
    <div class="ui grid">
        <div id="logo" class="one wide column">
            <img class="ui image" src="assets/2017_logo_beavr.png">
        </div>
        <div id="tab-bar" class="fifteen wide column">
            <div id="tab-bar-inner" class="ui top attached tabular menu all-tabs">
                <a class="item project-tab">
                    <div class="inside">
                        <img src="assets/default-user.png">
                        <span>Project Name</span>
                    </div>
                </a>
                <div id="scene-tabs">

                </div>
                <a class="item add-tab"><span>+</span></a>
            </div>
        </div>
    </div>

    <script>
        $('.menu .item').tab();
    </script>

</div>